@use '@/style/utils';

.Page {
  min-block-size: 100dvh;
  background: var(--Gray-100, #f2f3f7);

  .NotFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    inline-size: 100%;
    max-inline-size: 80rem;
    margin-block: 0;
    margin-inline: auto;
    padding-block: 3rem;
    padding-inline: 1rem;

    .DecorSvg {
      max-inline-size: 100%;
    }

    .Heading {
      margin-block: 1.5rem;
      margin-inline: 0;

      font-family: Manrope, sans-serif;
      font-size: 2.25rem;
      font-weight: 700;
      font-style: normal;
      color: #000;
      text-align: center;
    }

    .Description {
      font-family: Manrope, sans-serif;
      font-size: 1.25rem;
      font-weight: 400;
      font-style: normal;
      line-height: 1.875rem; /* 150% */
      color: #000;
      text-align: center;
    }

    .Search {
      margin-block-start: 0.5rem;
    }

    .Helper {
      margin-block-start: 1rem;

      font-family: Manrope, sans-serif;
      font-size: 1.25rem;
      font-weight: 400;
      font-style: normal;
      line-height: 1.875rem;
      color: #000;
      text-align: center;

      a:link,
      a:visited {
        color: #ee3d52;
        text-decoration: none;
      }
    }
  }
}
