@use '@/style/utils';
@import '@/style/reset';

/* Fix for fullscreen page in PWA */

// html,
// body,
// #root {
//   inline-size: 100%;
//   max-inline-size: 100%;
//   block-size: 100%;
//   min-block-size: 100%;
// }

// html {
//   min-block-size: calc(100% + env(safe-area-inset-top));
// }

/* END fix */

* {
  outline-color: var(--Primary-Color, #cd2732);
}

.visually-hidden:not(:focus, :active, :focus-within),
.strict-visually-hidden {
  @include utils.visually-hidden;
}

.skip-link {
  position: fixed;
  z-index: 10000;
  inset-block-start: 0;
  inset-inline-start: 50%;
  transform: translateX(-50%);

  padding-block: 0.5rem;
  padding-inline: 1rem;

  color: #fff;
  text-decoration: none;

  background-color: #cd2732;
  border-end-start-radius: 0.5rem;
  border-end-end-radius: 0.5rem;
}

/* Scrollbar Width */
::-webkit-scrollbar {
  inline-size: 0.375rem;
}

/* Scrollbar Track */
// ::-webkit-scrollbar-track {
//   background-color: #fff;
// }

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #cd2732;

  /* Handle on hover */
  @media (hover: hover) {
    &:hover {
      background: #a0131c;
    }
  }
}
